:root{
    --darkblue: #1a2e46;
    --orange: #f7931c;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body{
    font-size: 18px;
    width: 100%;
    padding: 20px;
}

.heading{
  font-size: 60px;
  color: var(--darkblue);
  padding-bottom: 20px;
}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 90%;
    margin: auto;
    gap: 25px;
}

/* Header Styling */
header {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  flex-wrap: wrap;
  margin: auto;
}

.logo-container {
  flex-grow: 1;
}

.logo {
  width: 100px;
  height: 100%;
  max-width: 100%;
}

.menu-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 20px;
  align-items: center;
}

.navbar a{
  text-decoration: none;
  color: var(--darkblue);
  padding: 10px 20px;
}

.navbar a:hover{
  border-bottom: 1px solid var(--orange);
  color: var(--orange)
}

.menu-toggle {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.show-mobile-menu .menu-toggle i {
  color: var(--darkblue); 
}

.authDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.authDiv a {
  text-decoration: none;
}

.authDiv .btn,
.authDiv .btn-outline {
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.authDiv .btn {
  background-color: var(--darkblue);
  color: white;
}

.authDiv .btn-outline {
  background-color: transparent;
  color: var(--darkblue);
  border: 2px solid var(--darkblue);
}

/* Dropdown Styling */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #ffffff;
}

.dropdown-content a {
  color: var(--darkblue);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: var(--orange);
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

footer{
    background-color: var(--darkblue);
    color: var(--orange);
    width: 100%;
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.above-the-fold{
    padding: 50px 0 100px 0;
}

.above-the-fold div{
    flex: 1;
    padding-right: 100px;
}

.above-the-fold h1{
    font-size: 60px;
    color: var(--darkblue);
    padding-bottom: 20px;
}
.above-the-fold p{
    font-size: 20px;
    padding-bottom: 20px;

}

.above-the-fold button{
    padding: 10px 20px;
    background-color: var(--darkblue);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--darkblue);
}

.above-the-fold img{
  flex: 1;
  border-radius: 10px;
  height: 300px;
  width: 50%;
  object-fit: cover;
  border-width: 0 0 5px 5px;
  border-style: solid;
  border-color: var(--orange);
}


.numbers{
    background-color: #f4f4f4;
    margin-bottom: 100px;

}
.numbers .numbersDiv{
    padding: 0 20px;
    text-align: center;
   
}
.numbers .numbersDiv h2{
    color: var(--orange);
}
.numbers .numbersDiv p{
    color: var(--darkblue);
}

/****Hexagon shape****/
 .hexagon-container {
    column-count: 6; /* Set the number of columns */
    column-gap: 10px; /* Adjust the gap between columns */
    width: 90%;
    margin: auto;
  }

  .subject {
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-weight: bold;
    break-inside: avoid; /* To prevent subjects from breaking across columns */
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .subject i{
    font-size: 50px;
    transition: font-size 0.3s ease-in-out;
    padding: 20px;
  }

  .subject-title{
    transition: display 0.3s ease-in-out;
  }

  /* Define unique colors for each subject */
  .math {
    background-color: #2196F3; /* Blue */
    height: 220px;
  }

  .english {
    background-color: #FF9800; /* Orange */
  }

  .kiswahili {
    background-color: #4CAF50; /* Green */
  }

  .physics {
    background-color: #9C27B0; /* Purple */
    
  }

  .chemistry {
    background-color: #E91E63; /* Pink */
    
  }

  .biology {
    background-color: #00BCD4; /* Cyan */
    
  }

  .history {
    background-color: #FFEB3B; /* Yellow */
    
  }

  .geography {
    background-color: #795548; /* Brown */
  }

  .civics {
    background-color: #607D8B; /* Grey */
  }

  .literature {
    background-color: #9E9E9E; /* Dark Grey */
  }

  .commerce {
    background-color: #8BC34A; /* Light Green */
  }

  .book-keeping {
    background-color: #FF5722; /* Deep Orange */
  }

  /****Styling the subject levels****/
  .level{
    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    opacity: 1;
    transition: display 0.3s ease-in-out;
  }
  .level.active {
    display: flex; 
  }

  .level-link{
    text-decoration: none;
    color: white;
  }

  .within-the-fold{
    padding: 50px 0 100px 0;
}

.within-the-fold div{
  flex: 1;
  padding-left: 100px;
}

.within-the-fold p{
  font-size: 20px;
  padding-bottom: 20px;

}

.within-the-fold button{
  padding: 10px 20px;
  background-color: var(--darkblue);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--darkblue);
}

.within-the-fold img{
  flex: 1;
  border-radius: 10px;
  height: 300px;
  width: 50%;
  object-fit: cover;
  border-width: 0 5px 5px 0;
  border-style: solid;
  border-color: var(--orange);
}

.down-the-fold{
  padding: 50px 0 100px 0;
}

.down-the-fold div{
flex: 1;
padding-right: 100px;
}


.down-the-fold p{
font-size: 20px;
padding-bottom: 20px;

}

.down-the-fold button{
padding: 10px 20px;
background-color: var(--darkblue);
color: white;
border-radius: 5px;
cursor: pointer;
border: 1px solid var(--darkblue);
}

.down-the-fold img{
  flex: 1;
  border-radius: 10px;
  height: 300px;
  width: 50%;
  object-fit: cover;
  border-width: 0 0 5px 5px;
  border-style: solid;
  border-color: var(--orange);
}


/***Testimonals Styles*****/
.testimonials .testimonial{
  background-color: #f4f4f4;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
}

.testimonials .testimonial p{
  padding-bottom: 20px;
  color: var(--darkblue)
}

.testimonials .testimonial img{
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.testimonials .testimonial .row-start{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px
}
.headingpac h1 {
  font-size: 60px;
  color: var(--darkblue);
  padding-bottom: 20px;
 
}
.headingpac{
  text-align: center;
}

 
/* Mobile devices (portrait and landscape) */
@media only screen and (max-width: 600px) {
  .hexagon-container {
    column-count: 1;
    column-gap: 0;
  }

  .subject {
    height: auto;
    margin-bottom: 20px;
  }

  header {
    align-items: center;
    justify-content: space-between;
  }

  .navbar {
    display: none;
    flex-direction: column;
  }

  .dropdown {
    text-align: center;
  }

  .authDiv {
    display: none;
  }

  .menu-toggle {
    display: block; 
  }

  .show-mobile-menu .navbar {
    display: flex; 
  }

  .heading{
    font-size: 45px;
  }

  .within-the-fold div{
    padding-left: 0;
  }

}

/* Tablets and small desktops */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .hexagon-container {
    column-count: 2;
  }
}

/* Large desktops and beyond */
@media only screen and (min-width: 1025px) {
  .hexagon-container {
    column-count: 3;
  }
}